<% include partials/header.ejs %>

      <div class="starter-template">
        <h1>NODE JS with Bootstrap template</h1>
        <p class="lead">Project only to practice and study.<br> That project included Express, EJS, MySQL, Sequelize and Body-Parser</Body-Parser>.</p>
      </div>

<% include partials/footer.ejs %>    
